@import url("https://fonts.googleapis.com/css2?family=Inter&family=Saira+Condensed:wght@300&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #e9eaef;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 10px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 10px 5px #ccccce;
  /* border: rgb(114, 31, 197) solid; */
}

.nav-left-container {
  display: flex;
  align-items: center;
}

#logo-projet {
  width: 80px;
}

.nav-left-container ul {
  display: flex;
  font-weight: 900;
}

.nav-left-container li {
  list-style: none;
  margin-left: 20px;
}
.nav-right {
  margin-right: -5px;
}
.fa-solid,
.fas {
  font-weight: 900;
  margin-right: 10px;
}
.nav-right-container {
  align-items: center;
}
.nav-right-container button {
  background: #11835c;
  color: white;
  border-radius: 5px;
  width: 126px;
  height: 42px;
}
header {
  /* border: rebeccapurple solid; */
  display: flex;
  background: white;
}
.header-left {
  margin: 111px;
}
.header-left h3 {
  color: #11835c;
  padding-bottom: 23px;
}
.header-left p {
  padding: 32px 1px;
  white-space: nowrap;
}
.header-left button {
  background: #11835c;
  color: white;
  width: 177px;
  height: 44px;
  border-radius: 5px;
}
.header-right {
  width: 100%;
  position: relative;
  /* background-image: url("./pictures/image-header.jpeg");
  background-size: cover; */
}
#img-header {
  width: 717px;
  position: absolute;
  object-fit: cover;
  mix-blend-mode: screen;
  height: 717px;
}
#images-template {
  width: 717px;
}
.trans-agro {
  padding: 15px 65px;
  /* border: rebeccapurple solid; */
  display: flex;
  height: 500px;

  .part-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    padding: 15px 65px;
    border-radius: 10px;
  }

  .part-left {
    width: 60%;
  }

  .part-left-top img {
    width: 100%;
  }

  .part-left-bottom {
    height: 50%;
  }
  .part-left-bottom img {
    width: 100%;
    height: 93%;
  }
  .part-right {
    background: white;
    margin-left: 12px;
    border-radius: 12px;
    padding-left: 65px;
    padding-top: 41px;
  }

  .part-right h2 {
    color: #ddb685;
    text-decoration: underline;
  }

  .part-right-img {
    display: flex;
    justify-content: space-between;
    margin: 17px;
  }

  .part-right-img img {
    border-width: 4px;
    border: 10px #dddbdc solid;
    width: 30%;
    border-radius: 15px 50px;
  }
}
.products {
  /* border: rebeccapurple solid; */
  padding: 5px;
}
.products-title {
  color: #11835c;
  font-weight: 900;
  text-align: center;
}

.products-list-top {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.products-list-bottom {
  display: flex;
  justify-content: center;
  padding-top: 45px;
  margin-bottom: 25px;
}

.products-item {
  border: #eee solid;
  border-radius: 17px;
  background: #f2f2f2;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  width: 209px;
  height: 280px;
  align-items: center;
  box-shadow: 5px 5px 5px 5px #bfc0c5;
  position: relative;
}

.products-item-img {
  display: flex;
  justify-content: center;
}
.products-item-img img {
  width: 100px;
  height: 136px;
  padding-top: 8px;
}
.products-item small {
  color: gray;
}
.products-item h5 {
  font-weight: bold;
}
.fa-star:before {
  content: "\f005";
  color: green;
}
.products-item-btn {
  position: absolute;
  bottom: 0;
}
.products-item-btn button {
  color: white;
  background: #11835c;
  width: 210px;
  height: 45px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.temoignage {
  background: url(./pictures/background-temoignage.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  /* border: rebeccapurple solid; */
}
.temoignage-container {
  background: #0d0404b0;
}
.temoignage h2 {
  color: white;
  text-align: center;
  padding-top: 14px;
}
.temoignage-para {
  color: white;
  text-align: center;
  margin: 34px 0px;
}
.temoignage-list {
  padding-left: 170px;
  padding-bottom: 10px;
  display: flex;
  gap: 10px;
}
.temoignage-item {
  background: white;
  padding-top: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 26%;
  margin-top: 50px;
}

.temoignage-item img {
  border-radius: 92px;
  width: 150px;
  height: 150px;
}

.temoignage-item-title {
  color: #11835c;
  padding: 17px;
}
.temoignage-item-text {
  /* margin-left: 10px;
  padding-left: 4px; */
  padding-bottom: 60px;
  text-align: justify;
  width: 88%;
}

.text-and-icon {
  /* border: rebeccapurple solid; */
}
.text-and-icon-topList {
  display: flex;
  justify-content: center;
}

.text-and-icon-top-image1 {
  width: 100%;
}

.text-and-icon-top-image1 img {
  width: 500px;
}

.text-and-icon-top-image2 img {
  width: 400px;
  padding-top: 70px;
}
.text-and-icon-top-image3 img {
  width: 400px;
  padding-top: 101px;
  height: 431px;
}
.text-and-icon-bottomList {
  display: flex;
  justify-content: center;
  margin-left: 43px;
  padding-top: 38px;
  padding-bottom: 30px;
}
.text-and-icon-bottom-text {
  margin: 7px;
  width: 125%;
}

.text-and-icon-bottom-image4 {
  width: 100%;
}
.text-and-icon-bottom-image4 img {
  width: 250px;
  margin-left: 54px;
}
.text-and-icon-bottom-image5 {
  width: 100%;
}
.text-and-icon-bottom-image5 img {
  width: 250px;
  margin-left: 54px;
}

.text-and-submit {
  /* border: rebeccapurple solid; */
  background: linear-gradient(rgba(10, 10, 10, 0.52), rgba(0, 0, 0, 0.56)),
    url(./pictures/background-after-text-icon.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.text {
  padding-top: 85px;
}
.text input {
  width: 500px;
  height: 41px;
}
.submit {
  padding-bottom: 103px;
}
.submit button {
  width: 188px;
  height: 40px;
  color: white;
  background: #11835c;
  border-radius: 5px;
}
.service {
  /* border: rebeccapurple solid; */
}
.service h2 {
  color: #11835c;
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

.service-list {
  display: flex;
  justify-content: center;
}
.service-item {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  width: 270px;
  gap: 15px;
  align-items: center;
  margin: 34px 6px;
  border-radius: 2px;
}

.service-item-img {
  width: 100%;
}
#id-img {
  width: 75px;
  margin-left: 90px;
  padding-top: 35px;
}

.service-item h4 {
  color: #11835c;
}
.service-item p {
  margin-bottom: 50px;
  padding-left: 20px;
}

.contact {
  /* border: rebeccapurple solid; */
  background: linear-gradient(rgba(10, 10, 10, 0.52), rgba(0, 0, 0, 0.56)),
    url(./pictures/background-contact.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 570px;
}
.contact h2 {
  color: white;
  font-weight: 700;
  text-align: center;
  margin: 21px 0px;
  padding-top: 13px;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 90px;
  margin-bottom: 25px;
  padding-bottom: 25px;
}
#id-input1 {
  width: 600px;
  height: 40px;
}
#id-input2 {
  width: 600px;
  height: 40px;
}
#id-textarea {
  width: 600px;
}

.contact button {
  width: 600px;
  height: 40px;
  background: #11835c;
  color: white;
}
.infos {
  /* border: rebeccapurple solid; */
  margin-top: 25px;
  background: black;
  color: white;
}
.infos-container {
  display: flex;
}
.infos-left {
  width: 50%;
}
.infos-left h3 {
  margin: 20px 0px;
  text-align: center;
}
.infos-left p {
  margin-bottom: 22px;
}
.infos-middle {
  width: 30%;
  text-align: center;
}
.infos-middle h3 {
  margin: 14px 80px;
}
.infos-right {
  width: 30%;
  text-align: center;
}
.infos-right h3 {
  margin: 14px 80px;
}
.footer-p {
  text-align: center;
}
